.background-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-container {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.tab-container {
  background-color: #39A0ED;
  display: flex;
  justify-content: center;
}

.background {
  display: flex;
  background-image: url('./images/library.jpg');
  height: 100vh;
}
