.background-container {
  display: flex;
  flex-direction: column;
}

.tab-container {
  background-color: #39A0ED;
  display: flex;
  justify-content: center;
}

.background {
  background-image: url('./images/library.jpg');
  height: 100vh;
}
